{% extends "jobs/base.html" %}

{% block title %} Abe's Blog {% endblock  %}

{% block body %}
{% include "jobs/_navbar.html" %}
    <div class="container blog">
        <div class="blog-list">
            <h1 class="text-center pt-3">Welcome to My Blog</h1>
            <p class="lead text-muted text-center">A collection of thoughts and lessons learned written down in hopes of teaching others with similar interests</p>
            <br>
            <br>
            <div class="container">
                <h2>Latest Posts</h2>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mx-auto col-12">
                            {% for blog in blogposts.all %} 
                            <a class="text-center" href="{% url 'blog_detail' blog.id %}"><h3>{{blog.title}}</h3></a>
                            <p class="smaller text-muted text-center">{{ blog.date_only }}</p>
                            <img class="img-fluid mx-auto d-block mb-3 img-thumbnail"src="{{ blog.image.url }}" width=300>
                            <p class="text-muted">{{ blog.body|truncatechars:'200'}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}
    
<h1></h1>