{% extends "jobs/base.html" %}
{% load blog_extras %}

{% block title %}
  {{ blog.title }}
{% endblock %}

{% block body %}
<div class="container blog">
  {% include "jobs/_navbar.html" %}
  <div class="container blog-post">
    <h1 class="text-center pt-3 blog-title">{{ blog.title }}</h1>
    <p class="text-sm text-center">{{ blog.date_only }}</p>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <img class="img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}" height="400px">
      </div>
    </div>
        
    <p>{{ blog.body|markdown_to_html }}</p>
  </div>
</div>
{% endblock  %}
    