{% extends "jobs/base.html" %} {% load static %} {% block title %} Abe Pena{% endblock %} {% block body %}
<header id="top" class="full-pg-section">
    <!-- Clip path Backgrounds behind section-->
    <div class="bg"></div>
    <div class="bg2"></div>
    {% include "jobs/_home_navbar.html" %}
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="left col-md-6">
                    <h1 class="header-title">Abe Pena</h1>
                    <p class="header-subtitle">Engineer that sweats the small things.
                        <br> Passionate about all things that involve code.</p>
                </div>
                <div class="right col-md-6">
                    <div class="header-buttons">
                        <a class="btn-header" href="http://github.com/abepena" target="_blank">
                            <img src="{% static 'jobs/images/github-octocat.svg' %}" alt="github" class="logo">
                            <span>
                                <strong>Github</strong>
                                <p>Check out what I've been coding and working on recently</p>
                            </span>
                        </a>
                        <a class="btn-header smooth-scroll" href="#projects">
                            <img src="{% static 'jobs/images/coding.svg' %}" alt="projects" class="logo">
                            <span>
                                <strong>Projects</strong>
                                <p>Things I've worked on in the past, and passion projects in progress</p>
                            </span>
                        </a>
                        <a class="btn-header" href="{% url 'blog' %}">
                            <img src="{% static 'jobs/images/blogging.svg' %}" alt="blog" class="logo">
                            <span>
                                <strong>Blog</strong>
                                <p>The start of a journey of documenting my coding adventures</p>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <div class="main-raised">
        <section id="projects" class="">
            <h2 class="text-center py-4">Projects</h2>
            <div class="container">
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-4">
                        <h5 class="project-title text-center">{{ project.name }}</h5>
                        <div class="project-container">
                            <div class="browser-mockup {% if forloop.last %} {% else %} mb-3 {%endif%}">
                                <img class="img-fluid" src="{{ project.image.url }}" />
                            </div>
                            <div class="demo-buttons text-center">
                                {% if project.github_link %}
                                <a href="{{ project.github_link }}" target="_blank" class="btn btn-success mr-2">Github</a>
                                {% endif %}
                                {% if project.demo_link %}
                                <a href="{{ project.demo_link }}" target="_blank" class="btn btn-light">Demo</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="jobs" class="">
            <h2 class="text-center py-4">Past Jobs</h2>
            <div class="container">
                <div class="row">
                    {% for job in jobs%}
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top job-image" src="{{ job.image.url }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ job.name }} </h5>
                                {% if job.start_date and job.end_date %}
                                <h6 class="card-subtitle">{{ job.start_date|date:"M Y" }} - {{ job.end_date|date:"M Y" }}</h6>
                                {% endif %}
                                <p class="card-text">
                                    {{ job.summary|linebreaks }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="about" class="half-page">
            <div class="container">
                <h2 class="text-center py-3"> Who I am</h2>
                <div class="row">
                    <div class="col-md-6 order-md-last mb-4 align-self-center">
                        <img class="img-fluid my-auto rounded shadow my-auto" src="{% static 'jobs/images/about-pic.jpg'%}" alt="Portait of me">
                    </div>
                    <div class="col-md-6">
                        <p class="">
                            In a nutshell I would consider myself a lifelong learner. I get enjoyment from learning as much as I can today for that day
                            when someone asks for my help in the future. In college, I studied Aerospace Engineering and
                            I worked on some pretty cool projects and teams prototyping, testing, and shipping real products
                            out there in the world today. Nowadays what I get my enjoyment from is making something from
                            just an idea with code.
                        </p>

                        <p>
                            I'm happy as long as there is a problem to solve and even happier if I get to teach myself something new solving it. Even
                            after long days at work I found myself wanting to do more, wanting to learn more to be more precise,
                            so I could do my job more effectively or just to pick up a new skill/hobby. So I started teaching
                            myself to program with Python.
                        </p>

                        <p>
                            Once I started <strong>I got hooked!</strong> Learning <strong>Python</strong>
                            led to teaching myself <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong>,
                            <strong>SQL</strong>, and frameworks like <strong>Django</strong>. All of which were used to
                            build this website/blog. And of course, coming from Aerospace Design I have experience with 3D
                            modeling software.
                        </p>
                        <p>
                            My goals for the future are to continue to do meaningful work, learn every day, and I hope to one day share all that knowledge
                            aspiring developers that come after me or team members at my next job.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <h2 class="pb-4 text-center">Skills</h2>
            <ul class="skills">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="row justify-content-around align-items-start py-3">
                            <li class="skill"><img class="img-fluid" src="{% static 'jobs/images/django.svg' %}" alt="django"></li>
                            <li class="skill"><img class="img-fluid" src="{% static 'jobs/images/python-5.svg'%}" alt="Python"></li>
                            <li class="skill"><img class="img-fluid mx-auto" src="{% static 'jobs/images/postgresql.svg'%}" alt="Postgres"></li>
                            <li class="skill"><img class="img-fluid" src="{% static 'jobs/images/javascript.svg'%}" alt=""></li>
                        </div>
                        <br>
                        <div class="row justify-content-around align-items-start py-3">
                            <li class="skill"><img class="img-fluid" src="{% static 'jobs/images/html5.svg'%}" alt=""></li>
                            <li class="skill"><img class="img-fluid" src="{% static 'jobs/images/css-3.svg'%}" alt=""></li>
                            <li class="skill"><img class="img-fluid py-3" src="{% static 'jobs/images/sass-1.svg'%}" alt=""></li>
                            <li class="skill"><img class="img-fluid py-2" src="{% static 'jobs/images/bootstrap-4.svg'%}" alt="">
                            </li>
                        </div>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li class="">Django</li>
                            <li class="">Python</li>
                            <li class="">Postgres</li>
                            <li class="">Javascript</li>
                            <li class="">HTML5</li>
                            <li class="">CSS3</li>
                            <li class="">Sass</li>
                            <li class="">Bootstrap</li>
                        </ul>
                    </div>
                </div>

            </ul>
        </div>
        <section id="contact" class="">
            <div class="container text-center">
                <a href="mailto:pena.abe@gmail.com" class="my-4 btn btn-success"><h2 class="text-center">Contact Me</h2></a>
            </div>
        </section>
    </div>
</main>

<footer class="text-muted">
    <div class="container text-center">
        <p class="my-2 py-2">Abe Pena &copy {% now "Y"%} </p>
    </div>
</footer>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/smoothScroll.js' %}"></script>
{% endblock  %}